.homePageContainer {
 display: block;
 min-width: 100%;
 min-height: 100%;
 height: 100vw;
 padding: 20px;
 background-image: url(../../images/galery4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.title {
 display: block;
 margin: 0 auto;
 font-size: 30px;
 font-weight: 700;
 text-align: center;
 color: white;
}
.NavLink {
 margin-right: 20px;
 font-size: 25px;
 font-weight: 700;
 text-decoration: none;
 color: black;
 text-shadow: 2px 2px 3px #ecffd1;
}
.NavLinkActiv {
 color: red;
 text-shadow: 2px 2px 3px #ecffd1;
}
.goBack {
 display: block;
 margin-top: 10px;
 min-width: 100px;
 height: 30px;
 border-radius: 7px;
 background-color: rgb(169, 252, 2);
}
.goBack:hover {
  cursor: pointer;
}
