.containerIconSVGPage{
    display: block;
 min-width: 100%;
 min-height: 100%;
 height: 100vw;
 padding: 20px;
 background-image: url(../../images/galary2.jpg);
 background-repeat: no-repeat;
 background-size: contain;
}