.containerLoaderPage {
 display: block;
 min-width: 100%;
 min-height: 100%;
 height: 100vw;
 padding: 20px;
 background-image: url(../../images/mercedes.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.loader {
 display: block;
 margin-left: 50%;
}
